.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.visible-container {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #ffe5e9;
  border: 1px dashed #a7a6a6;
  height: 100%;
  display: flex;
  align-items: center;
}

input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

th, td {
  padding: 0.5em;
}